*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}
header{
    display: flex;
    justify-content: center;
}

#page-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    max-width: 1200px;
    margin: auto;
}
.col1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    }
.col2 {
display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
        gap: 1rem;
}
.col3{
display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
        gap: 1rem;
}
section{
    article{
        padding: 0.5rem 2rem 0.5rem 2rem;
        ul{
            padding-left: 1rem;
            li{
                font-size: large;
            }
        }
    }
}
#name-container{
    background-color: blanchedalmond;
}
#personality-container{
    background-color: cyan;
}
#goals-container{
    background-color: rgb(224, 219, 138);
}
#frustrations-container{
    background-color: rgb(182, 109, 109);
}
#bio-container{
    background-color: rgb(221, 141, 113);
}
#motivations-container{
    background-color: palegreen;
}
#hobby-container{
    background-color: salmon;
}
#attitudes-container{
    background-color: lightpink;
}
#attributes-container{
    background-color: lightseagreen;
}
article{
    img{
        width: 100%;
    }
}
h2{
    text-align: center;

}
p{
    font-size: large;
}