h1 {
    margin-left:300px;
}


h2 {
    margin-left:300px;
}

.oppgave {
    font-size: 24px;
    margin-left:300px;
}

.besvarelse {
    font-size: 22px;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}