
.gray-box {
    background: rgb(240, 240, 240, 0.8);
    border-radius: 7px;
    padding: 7px;

}

#container-text {
    display: flex;


}

#container-imageAndText {
    display: flex;

    justify-content: center;

}

#container-imageAndText #content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 640px;

}


#aboutMeImage {


    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 240px;
    display: block;

}

#aboutMeImage:hover {
    opacity: 1;
}

#h1-title {
    font-family: "Comic Sans MS";

}

footer {

    color: #ffffff;
    background-color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;


}

body {
    margin: 0px;
    padding-bottom: 48px;
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../Images/background-image.jpg");
    margin: 0;
    padding-bottom: 48px;
}