h2 {
    margin-left:200px;
    margin-right: 200px;
}

.tekst {
    font-size: 20px;
    margin-left:300px;
    margin-right: 300px;
}

div {
    font-size: 20px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

body {
    background-color: aqua;
}