body {
    background-size: 50%;
    background-image: url("Images/JWFD.gif");
}

.content {
  max-width: 750px;
  max-height: 1000px;
  margin: auto;
  background-color: rgb(75, 80, 80);
  color: azure;
  
}

.h2 {
    position: center;
    text-align: center;
}

img {
  border-radius: 16px;
  height: 400px;
  width: 400px;
  margin-right: 100%;
  
}

