body { 
  background-image:url(Bilde/Stein2.JPG); 
  background-size: cover ; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
} 
  
.tekst { 
  background: rgba(72, 71, 70, 0.7); 
  box-shadow: -3px 3px 2px rgb(86, 78, 78); 
  border-radius: 3px; 
  color: #fff; 
  font: 14px/24px "Source Code Pro", "Inconsolata", "Lucida Console", "Terminal", "Courier New", Courier; 
  padding: 15px 15px; 
  display: flex; 
  flex-direction:column; 
  justify-content:flex-start; 
  align-items: stretch; gap: 3%; 
  margin-bottom: 24px; 
} 

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%;
}

#hoved1 { 
  width: 63%; 
} 
  
#bilde1 { 
  width: 34%; 
} 
  
#bunn{ 
  text-align: center; 
} 
  
#bildet1 {
  height: auto; 
  max-width: 100%;
} 
  
a:link{ 
  color:rgb(123, 255, 0) 
} 
  
a:visited{ 
  color:rgb(15, 174, 63) 
}