body {
    background-image:url(Bilde/Stein2.JPG);
    background-size: cover ;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

code {
    background: rgba(72, 71, 70, 0.7);
    box-shadow: -3px 3px 2px rgb(86, 78, 78);
    border-radius: 3px;
    color: #fff;
    font: 14px/24px "Source Code Pro", "Inconsolata", "Lucida Console", "Terminal", "Courier New", Courier;
    padding: 15px 15px;
    display: flex;
    flex: 1;
    flex-direction:column-reverse;
    justify-content:flex-end;
    
}
header,
.container {
  display: flex;
  align-items: stretch;
  gap: 3%; 
  margin-bottom: 24px;
  flex:1
}
section, aside {
  display: flex;
  flex-direction: column;
}

section {
  width: 63%;
}

aside {
  width: 34%;
}
footer{
text-align: center;
}

#bildet1 {height: auto; max-width: 100%;}
#spinn:active + #bildet1 {
  animation: spin 10s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(3600deg); }
}
a:link{
  color:rgb(123, 255, 0)
}
a:visited{
  color:rgb(15, 174, 63)
}